# Configuration file

general {
    # Item IDs that shine light while held. Armor Items also work when worn. [ONLY ON OTHERS] Syntax: ItemID[-MetaValue]:LightValue, seperated by commas
    S:LightItems=torch,glowstone,ExtraUtilities:magnumTorch,ProjectE:interdiction_torch,RealisticTorches:TorchLit,arsmagica2:VinteumTorch=12,blaze_powder,blaze_rod,nether_star,glowstone_dust=10,lit_pumpkin,lava_bucket,infernomobs:bucketpurelava,redstone_torch=10,redstone=7,Botania:manasteelHelmReveal,Botania:manasteelBoots,Botania:manasteelLegs,Botania:manasteelChest,Botania:manasteelHelm=10,golden_horse_armor=15,infernomobs:cinderfallsword,infernomobs:cinderfallswordazure,infernomobs:cinderfallswordverdant=12,Botania:manaGlassPane,Botania:manaGlass=14

    # Update Interval time for all other player entities in milliseconds. The lower the better and costlier.
    I:"update Interval"=1000
}


